@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600;1,700;1,900&display=swap");
html,
body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 50px;
  font-weight: 700;
}

h2 {
  font-size: 32px;
  font-weight: 700;
}

h3 {
  font-size: 30px;
  font-weight: 700;
}

.h3-l {
  font-size: 30px;
  font-weight: 500;
}

h4 {
  font-size: 25px;
  font-weight: 500;

  color: var(--txt-a);
}

h5 {
  font-size: 22px;
  font-weight: 600;
}

h6 {
  font-size: 20px;
  font-weight: 500;
}

p {
  font-size: 18px;
  font-weight: 500;
}

.btn,
.btn-g {
  font-size: 22px;
  font-weight: 600;
}

.btn-l {
  font-size: 20px;
  font-weight: 500;
}

.btn-s {
  font-size: 22px;
  font-weight: 500;
}

.highlight {
  position: relative;
}

.highlight::after {
  content: "";

  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: var(--clr-a);
  z-index: -1;
}
