:root {
  --bg: #fff;
  --bg-a: #fcfcfc;
  --bg-o: #fffffffc;
  --bg-d: #e0e0e0;
  --bg-g: linear-gradient(#e7cbff, #c1a2dc);

  --txt: #000;
  --txt-a: #aaa;
  --txt-l: #bfbfbf;
  --txt-c: #fff;
  --txt-clr: #715d83;

  --clr: #8d58bb;
  --clr-a: #e7cbff;
  --clr-o: #8d58bb3d;
}
