.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.contentContainer {
  max-width: 600px;

  padding: 50px;

  border: 1px solid var(--bg-d);
  border-radius: 20px;

  h1 {
    margin-bottom: 2rem;
  }

  p {
    color: var(--txt-a);
    margin-top: 1rem;
  }

  footer {
    margin-top: 3rem;
  }
}

.logo {
  display: flex;
  align-items: center;

  margin-bottom: 90px;

  svg {
    margin-right: 1rem;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  margin-top: 3rem;
}

.altButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  margin-top: 1rem;

  button {
    background-color: var(--bg);

    color: var(--clr);

    border: 1px solid var(--clr-a);
  }
}

// Utility Classes

.alignRight {
  text-align: right;
}
