.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  grid-column: 1 / 3;
}

.Minimal {
  cursor: pointer;

  background-color: var(--bg);
  border: 1px solid var(--bg-d);

  padding: 1rem;

  height: 8rem;

  border-radius: 10px;

  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;

  transition: filter 200ms ease;

  p {
    color: var(--txt-a);
    margin-top: 0.5rem;
  }
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imageContainer {
  overflow: hidden;
  aspect-ratio: 1 / 1;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;

    border-radius: 10px;
  }
}

.List {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem;
  padding-left: 2rem;

  background-color: var(--bg);

  transition: filter 200ms ease;

  p {
    color: var(--txt-a);
  }
}

.List:not(:last-child) {
  border-bottom: 1px solid var(--bg-d);
}

.Gallery {
  cursor: pointer;

  background-color: var(--bg);
  border: 1px solid var(--bg-d);

  padding: 1rem;

  border-radius: 10px;

  display: flex;
  flex-direction: column;

  transition: filter 200ms ease;

  p {
    color: var(--txt-a);
    margin-top: 0.5rem;
  }

  .imageContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    margin-bottom: 1rem;
  }

  .skeleton {
    background-color: var(--bg-a);

    aspect-ratio: 1 / 1;
  }

  .col {
    margin-block: 1rem;
  }

  .collectionImage {
    aspect-ratio: 1 / 1;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;

      border-radius: 10px;
    }
  }
}

@media (hover: hover) {
  .Minimal:hover,
  .List:hover,
  .Gallery:hover {
    filter: brightness(0.9);
  }
}
