.container {
  display: grid;
  grid-template-rows: auto 1fr;

  min-height: 100vh;

  // position: absolute;
  // top: 0;
  // bottom: 0;
  // right: 0;
  // left: 0;

  h1 {
    max-width: 530px;

    margin-bottom: 27px;
  }

  a + a {
    margin-left: 27px;
  }
}

.hero {
  width: min(calc(100% - 9rem), 1700px);
  margin-inline: auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  margin-bottom: 10rem;

  a svg {
    margin-right: 1rem;
  }
}

@media screen and (max-width: 1600px) {
  .hero {
    text-align: center;

    display: grid;
    grid-template-columns: 1fr;

    h1 {
      margin-inline: auto;
    }

    .col:first-of-type {
      margin-bottom: 7rem;
      margin-top: 3rem;
    }
  }
}

@media screen and (max-width: 900px) {
  .container a + a {
    margin-inline: auto;
    margin-top: 1rem;
  }

  .container a {
    display: block;
    width: fit-content;
    margin-inline: auto;
  }

  .hero {
    width: min(calc(100% - 2rem), 1700px);

    .col:first-of-type {
      margin-block: 10rem;
    }
  }
}
