.container {
  display: grid;
  grid-template-rows: auto 1fr;

  min-height: 100vh;

  // position: absolute;
  // top: 0;
  // bottom: 0;
  // right: 0;
  // left: 0;

  h1 {
    max-width: 530px;

    margin-bottom: 27px;
  }
}

.hero {
  width: min(calc(100% - 9rem), 1700px);
  margin-inline: auto;

  display: grid;
  grid-template-columns: 1fr 1fr;

  a svg {
    margin-right: 1rem;
  }

  .col:first-of-type {
    height: calc(100vh - 20rem);

    position: sticky;
    top: 12rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  column-gap: 27px;
  row-gap: 10px;
}

@media screen and (max-width: 1600px) {
  .hero {
    display: grid;
    grid-template-columns: 1fr;

    .col:first-of-type {
      margin-bottom: 7rem;
      margin-top: 3rem;

      height: auto;
      position: static;
    }
  }
}

@media screen and (max-width: 900px) {
  .hero {
    width: min(calc(100% - 2rem), 1700px);
  }
}
